*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    position: relative;
    width:100%;
    height:200px;
}

body{
    background-color: #34495e;
}

li{
    display: block;
}

input{
    border:none;
}

.form,
.greeting,
.list {
    display: none;
}

.showing{
    display: block;
}

.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}

.vertical-center{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

.horizontal-center{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.bottom{
    position: absolute;
    top:100%;
    width:100%;
    left:0;
    transform: translateY(-100%);
}

.textCenter{
    text-align: center;
}

.relative{
    position: relative;
}

.inline-block{
    display: inline-block;
}

.blind{
    position: absolute;
    overflow: hidden;
    clip:rect(0,0,0,0);
    width:1px;
    height:1px;
}

.textOverflowEllipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.line{
    position: relative;
    margin:2px 0px 2px 0px;
    width:20px;
    height:4px;
    border-radius: 1px;
    background-color: white;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to {opacity: 1;}
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.clock h1{
    font-size: 150px;
    color:white;
    font-weight: bold;
}

.form input,
.greetings{
    color:white;
    border: none;
    background-color:inherit;
    text-align: center;
    font-size:40px;
    margin-bottom: 10px;
}

.form input{
    text-decoration-line: underline;
}

.form input::placeholder{
    color:white;
}

.toDoForm input{
    border: none;
    background-color:inherit;
    text-align: center;
    text-decoration-line: underline;
    color:#bdc3c7;
    font-size:25px;
    margin-bottom: 10px;
}

.toDoForm input::placeholder{
    color:#bdc3c7;
}

.listStyle{
    position: relative;
    color:white;
    font-size: 25px;
    margin-bottom: 10px;
}

.cancelButtonStyle{
    background-color: inherit;
    border: none;
    vertical-align: middle;
    margin-bottom: 5px;
}

.search-input{
    border-bottom: solid white;
    background-color: transparent;
    color:white;
}


.weather{
    position: absolute;
    top:0;
    right:0;
    margin: 6px 10px 0 0;
    color:white;
    font-style: italic;
}

@keyframes arrowBoxAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.8;
    }
}

.downArrowBox,
.upArrowBox{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    background-color: black;
    color:white;
    z-index:1;
    transition: all .5s ease-in-out;
}

.downArrowBox::after,
.upArrowBox::after{
    opacity: 0.8;
    content:"";
    position: absolute;
    left:75%;
    border-style: solid;
    transition: all .5s ease-in-out;
}

.downArrowBox::after{
    bottom:100%;
    border-color:transparent transparent black transparent;
}
.upArrowBox::after{
    top:100%;
    border-color:black transparent transparent transparent;
}


.weatherBox{
    width:400px;
    height:200px;
    border-radius: 10px;
    top:70px;
    right:20px;
}

.weatherBox::after{
    border-width:10px; /*h:10, b:20*/
    margin-left:-10px; /*move left 10 to make triangle*/
}

.searchBox{
    width:200px;
    height:100px;
    border-radius: 5px;
    top:70px;
    left:20px;
}

.searchBox::after{
    border-width: 10px;
    margin-left:-10px;
}

.appearAct{
    visibility: visible;
    opacity: 0.8;
}

.weatherBox-body{
    height:120px;
}

.weatherBox-body-futureInfo{
    position: absolute;
    width:90%;
    left:5%;
    border-top: solid white;
    border-bottom: solid white;
}

.weatherBox-footer{
    text-align: center;
}

.weatherBox-footer span{
    position: absolute;
    top:39%;
    margin-left:6px;
    transform: translateY(-50%);
    font-size:12px;
    color:white;
}

input:focus{
    outline: none;
}

.bgInfo{
    height:40px;
    width:150px;
    margin:0px 0px 12px 16px;
    list-style: none;
}

.bgLocation{
    position: absolute;
    top:0;
    left:0;
    transition: all .5s ease-in-out;
    color:white;
}

.bgInfo:hover .bgLocation{
    transform:translateY(-6px); /*translate는 반대*/
}

.bgDescription{
    position: absolute;
    opacity: 0;
    top:12px;
    width:150px;
    left:0;
    white-space: nowrap;
    transition: all .5s ease-in-out;
}

.bgInfo:hover .bgDescription{
    opacity: 1;
    transform:translateY(6px);
}

.toDo{
    position: absolute;
    right:0;
    margin:0px 12px 0px 0px;
    color:white;
}

.toDoBox{
    height:200px;
    width:300px;
    bottom:140%;
    right:10px;
    border-radius: 10px;
}

.toDoBox::after{
    border-width:10px;
    margin-left:-10px;
}

.toDoBox-header{
    height:40px;
}

.toDoBox-header-title{
    position:absolute;
    left:6px;
    font-weight: bold;
    font-size:20px;
}

.toDoBox-header-option{
    right:25px;
    position: absolute;
    width:6px;
    height:20px;
}

.toDoBox-body{
    width:100%;
    height:120px;
}

.toDoBox-body-startToDo{
    width:100%;
    height:65px;
}

.toDoBox-body-startToDo-description{
    text-align: center;
}

.toDoBox-body-startToDo-button{
    margin-top:10px;
    padding-top:10px;
    width:120px;
    height:35px;
    border-radius: 4px;
    color:white;
    text-align: center;
    background-color: #1abc9c;
    visibility: 'visible';
}

.toDoBox-footer{
    position: absolute;
    bottom:0;
    width:100%;
    height:40px;
}

.toDoBox-footer-form{
    visibility: hidden;
}

.toDoBox-footer-form input{
    background-color: transparent;
    color:white;
    font-size:18px;
    padding-left:12px;
}
