*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #34495e;
}

.form,
.greeting,
.list {
    display: none;
}

.showing{
    display: inline-block;
}

.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}

.textCenter{
    text-align: center;
}

.relative{
    position: relative;
}


@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.js-clock h1{
    font-size: 150px;
    color:white;
    font-weight: bold;
}

.js-form input,
.js-greetings{
    color:white;
    border: none;
    background-color:inherit;
    text-align: center;
    font-size:40px;
    margin-bottom: 10px;
}

.js-form input{
    text-decoration-line: underline;
}

.js-form input::placeholder{
    color:white;
}

.js-toDoForm input{
    border: none;
    background-color:inherit;
    text-align: center;
    text-decoration-line: underline;
    color:#bdc3c7;
    font-size:25px;
    margin-bottom: 10px;
}

.js-toDoForm input::placeholder{
    color:#bdc3c7;
}

.listStyle{
    position: relative;
    color:white;
    font-size: 25px;
    margin-bottom: 10px;
}

.cancelButtonStyle{
    background-color: inherit;
    border: none;
    vertical-align: middle;
    margin-bottom: 5px;
}

.weatherStyle{
    position: absolute;
    top:0;
    right:0;
    margin: 6px 10px 0 0;
    color:white;
    font-size: 15px;
    font-style: italic;
}

input:focus{
    outline: none;
}
